//color

$gray-color:#55575b;
$black-color:#000;
$green-color:#57a605;
$purple-color:#4505aa;
$purple-color2:#783cd6;
$lightgray-color:#ededed;
$gray-color2:#55575b;
$white-color:#fff;
$lightgreen-color:#def7e0;
$green-color:#1db95c;
$linkedinbg-color:#008cc9;

// font family

$roboto-font: 'Roboto';


// font-weight

$weight300: 300;
$weight400:400;
$weight500:500;
$weight500:500;
$weight600:600;
$weight700:700;


// font-size

$font-size1:14px;
$font-size2:15px;
$font-size3:16px;
$font-size4:18px;
$font-size5:20px;
$font-size6:24px;
$font-size7:28px;
$font-size8:32px;
$font-size9:36px;
$font-size10:40px;
$font-size11:50px;

// min widths  